/*
    This website was written by Corey Hedberg for the purposes of the Free Code Camp Responsive Web Design Certification "Build a Technical Documentation Page" challenge.
    corey@coreyhedberg.dev
    https://coreyhedberg.dev
*/

@font-face {
  font-family: "Muli";
  src: url("fonts/Muli.ttf");
}

body {
  background: url("./media/webb.png");
  font-family: "Muli";
  line-height: 1.5;
}

#navbar {
  background-color: #00205b;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 280px;
  height: 100%;
  border-right: solid;
  border-color: whitesmoke;
}

#navbar a {
  cursor: pointer;
}

hr {
  height: 0.4rem;
  background-color: slategray;
}

#main-doc {
  /* position: relative; */
}

#sample-flexbox-example {
  border: 1px solid black;
}

#coded-section {
  background-color: bisque;
}
