/*
    This website was written by Corey Hedberg for the purposes of the Free Code Camp Responsive Web Design Certification "Build a Technical Documentation Page" challenge.
    corey@coreyhedberg.dev
    https://coreyhedberg.dev
*/

@font-face {
  font-family: "Muli";
  src: url("fonts/Muli.ttf");
}

body {
  background: url("./media/webb.png");
  font-family: "Muli";
  line-height: 1.5;
}

#grid {
  display: grid;
  grid-template-columns: 15rem auto;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: "left right";
}

#navbar {
  background-color: #00205b;
  color: #fff;
  top: 0px;
  left: 0px;
  height: 100%;
  border-right: solid;
  border-color: whitesmoke;
  grid-area: left;
}

#navbar header {
  font-size: 2.2rem;
  padding-left: 0.4rem;
}

.nav-link {
  padding: 0 0 0.8rem 0.4rem;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}

.nav-link:hover {
  color: yellow;
}

header {
  font-size: 2rem;
  font-weight: bold;
}

hr {
  height: 0.4rem;
  background-color: slategray;
}

#main-doc {
  grid-area: right;
  font-size: 1.4rem;
}

#sample-flexbox-example {
  border: 1px solid black;
}

code {
  background-color: bisque;
}
